.main-content-resumen {
    width: 83%;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    margin: 20px auto;
    padding: 10px;
}


/* app-card-air-quality {
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
} */


/* .content-resumen {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */

.resume-color-grey-dark {
    color: #474747;
}
