/********** Variable color default ***********/


/* :root {
    --main-grey: #cccccc;
} */


/********** Desing estructure card **********/

.card-air-quality {
    width: 240px;
    /* border-color: red; */
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    margin: 20px;
}

.flex-container {
    display: flex;
    align-items: stretch;
}

.flex-container>div {
    /* background-color: DodgerBlue; */
    /* color: white; */
    width: 40px;
    margin: 2px;
    line-height: 25px;
    /* font-family: ; */
}


/********** Aling items type-text **********/

.aling-left {
    text-align: left;
    padding-left: 10px;
}

.aling-right {
    text-align: right;
    padding-right: 10px;
}


/********** Format default text using in card air quality **********/

.city-name {
    display: block;
    margin-left: 10px;
    line-height: 0.5em;
    text-decoration: underline;
}


/********** Desing parts of Card Air Quality¨**********/

.size-text-small {
    font-size: 12px;
}

.size-text-medium {
    font-size: 14px;
}

.size-text-big {
    font-size: 18px;
    /* font-family: ; */
}

.circle-emergency {
    height: 14px;
    width: 14px;
    /* background-color: red; */
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.pl-desing-border {
    background-color: #e0e0e0;
    border-radius: 10px;
    margin: 3px;
    border: 2px solid #e0e0e0;
}

.last-activity {
    margin: 5px;
    color: #bbb9b9;
    font-family: Tahoma;
    /* font-weight: 550; */
}