/********** Variable color default ***********/


/* :root {
    --main-grey: #cccccc;
} */


/********** Desing estructure card **********/

.card-quality {
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-air-quality {
    width: 245px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    margin: 20px;
}

.flex-container {
    display: flex;
    align-items: stretch;
    margin: auto;
}

.flex-container>div {
    width: 40px;
    margin: 2px;
    line-height: 25px;
}


/********** Aling items type-text **********/

.aling-left {
    text-align: left;
    padding-left: 5px;
}

.aling-right {
    text-align: right;
    padding-right: 10px;
}


/********** Format default text using in card air quality **********/

.text-city-name {
    display: block;
    line-height: 0.5em;
    text-decoration: underline;
    font-weight: 400;
}

.text-card-name {
    font-weight: 700;
}


/********** Desing parts of Card Air Quality¨**********/

.size-text-small {
    font-size: 12px;
}

.size-text-medium {
    font-size: 14px;
}

.size-text-big {
    font-size: 18px;
}

.circle-emergency {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.pl-desing-border {
    background-color: #f2f2f2;
    border-radius: 10px;
    margin: 3px;
    border: 2px solid #f2f2f2;
}

.last-activity {
    color: #bbb9b9;
    font-weight: 500;
}

.card-font-temperature {
    font-weight: 500;
    font-size: 22px;
}

.color-grey-dark-text {
    color: #474747;
    margin-left: 20px;
    margin-bottom: 8px;
}