.full-width-table {
    width: 100%;
}

.data-table {
    width: 80%;
    margin: 20px auto;
}

.pasive-color:hover {
    background-color: rgb(231, 231, 231);
}

.pasive-color:active {
    background-color: #add6f6;
}